# Academy of Py

In [1]:
#################################################################################
# 1 Create a high level snapshot (in table form) of the district's key metrics  #
#################################################################################

In [2]:
import pandas as pd
import numpy as np

file1 = './Resources/students_complete.csv'
stud_df = pd.read_csv(file1)
stud_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
file2 = './Resources/schools_complete.csv'
sch_df = pd.read_csv(file2)
sch_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_cnt=sch_df["School ID"].count()
tot_student=stud_df["Student ID"].count()
tot_budget=sch_df["budget"].sum()
avg_math=stud_df["math_score"].mean()
avg_read=stud_df["reading_score"].mean()


stmathpased_df=stud_df.loc[stud_df["math_score"] >= 70]
pct_math_passed=(stmathpased_df["Student ID"].count()/tot_student)*100

streadpased_df=stud_df.loc[stud_df["reading_score"] >= 70]
streadpased_df
pct_read_passed=(streadpased_df["Student ID"].count()/tot_student)*100
ovall_pass_rt=(pct_math_passed+pct_read_passed)/2

print(school_cnt)
print(tot_student)
print(tot_budget)
print(avg_math)
print(avg_read)
print(stmathpased_df["Student ID"].count())
print(pct_math_passed)
print(streadpased_df["Student ID"].count())
print(pct_read_passed)
print(ovall_pass_rt)

15
39170
24649428
78.98537145774827
81.87784018381414
29370
74.9808526934
33610
85.8054633648
80.3931580291

In [5]:

finsum_district_df = pd.DataFrame({"Total Schools": [school_cnt],
                                   "Total Students": [tot_student],
                                   "Total Budget": [tot_budget],
                                   "Average Math Score": [avg_math],
                                   "Average Reading Score": [avg_read],
                                   "% Passing Math":[pct_math_passed],
                                   "% Passing Reading":[pct_read_passed],                                   
                                   "Overall Passing Rate": [ovall_pass_rt]
})
finsum_district_df = finsum_district_df[["Total Schools",
                                   "Total Students",
                                   "Total Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "Overall Passing Rate"]]
finsum_district_df = finsum_district_df.round(2)

#################################
##--         OUTPUT         ---##
#################################
finsum_district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

In [6]:
#####################################################################
# 2  Overview table that summarizes key metrics about each school   #
#####################################################################

In [7]:
grpbysch1_df=sch_df.groupby(["name"],as_index=False)
grpbysch2_df=stud_df.groupby(["school"],as_index=False)

In [8]:
sch_sum1_df=grpbysch1_df.max()
sch_sum1_df.rename(columns={"name":"school","size":"tot_students"},inplace = True)
sch_sum1_df

                   school  School ID      type  tot_students   budget
0      Bailey High School          7  District          4976  3124928
1     Cabrera High School          6   Charter          1858  1081356
2    Figueroa High School          1  District          2949  1884411
3        Ford High School         13  District          2739  1763916
4     Griffin High School          4   Charter          1468   917500
5   Hernandez High School          3  District          4635  3022020
6      Holden High School          8   Charter           427   248087
7       Huang High School          0  District          2917  1910635
8     Johnson High School         12  District          4761  3094650
9        Pena High School          9   Charter           962   585858
10  Rodriguez High School         11  District          3999  2547363
11    Shelton High School          2   Charter          1761  1056600
12     Thomas High School         14   Charter          1635  1043130
13     Wilson High School          5   Charter          2283  1319574
14     Wright High School         10   Charter          1800  1049400

In [9]:
sch_sum2_df=grpbysch2_df.mean()
sch_sum2_df.rename(columns={"reading_score":"avg_reading_score","math_score":"avg_math_score"},inplace = True)
sch_sum2_df

                   school  Student ID  avg_reading_score  avg_math_score
0      Bailey High School     20358.5          81.033963       77.048432
1     Cabrera High School     16941.5          83.975780       83.061895
2    Figueroa High School      4391.0          81.158020       76.711767
3        Ford High School     36165.0          80.746258       77.102592
4     Griffin High School     12995.5          83.816757       83.351499
5   Hernandez High School      9944.0          80.934412       77.289752
6      Holden High School     23060.0          83.814988       83.803279
7       Huang High School      1458.0          81.182722       76.629414
8     Johnson High School     32415.0          80.966394       77.072464
9        Pena High School     23754.5          84.044699       83.839917
10  Rodriguez High School     28035.0          80.744686       76.842711
11    Shelton High School      6746.0          83.725724       83.359455
12     Thomas High School     38352.0          83.848930       83.418349
13     Wilson High School     14871.0          83.989488       83.274201
14     Wright High School     25135.5          83.955000       83.682222

In [10]:
sch_mrg1_df=pd.merge(sch_sum1_df, sch_sum2_df, on="school")
sch_mrg1_df

,school,School ID,type,tot_students,budget,Student ID,avg_reading_score,avg_math_score
0,Bailey High School,7,District,4976,3124928,20358.5,81.033963,77.048432
1,Cabrera High School,6,Charter,1858,1081356,16941.5,83.975780,83.061895
2,Figueroa High School,1,District,2949,1884411,4391.0,81.158020,76.711767
3,Ford High School,13,District,2739,1763916,36165.0,80.746258,77.102592
4,Griffin High School,4,Charter,1468,917500,12995.5,83.816757,83.351499
5,Hernandez High School,3,District,4635,3022020,9944.0,80.934412,77.289752
6,Holden High School,8,Charter,427,248087,23060.0,83.814988,83.803279
7,Huang High School,0,District,2917,1910635,1458.0,81.182722,76.629414
8,Johnson High School,12,District,4761,3094650,32415.0,80.966394,77.072464
9,Pena High School,9,Charter,962,585858,23754.5,84.044699,83.839917
10,Rodriguez High School,11,District,3999,2547363,28035.0,80.744686,76.842711
11,Shelton High School,2,Charter,1761,1056600,6746.0,83.725724,83.359455
12,Thomas High School,14,Charter,1635,1043130,38352.0,83.848930,83.418349
13,Wilson High School,5,Charter,2283,1319574,14871.0,83.989488,83.274201
14,Wright High School,10,Charter,1800,1049400,25135.5,83.955000,83.682222

In [11]:
sch_mrg2_df=pd.merge(stud_df, sch_sum2_df, on="school")
sch_mrg2_df.head()

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,1458.0,81.182722,76.629414
1,1,Victor Smith,M,12th,Huang High School,94,61,1458.0,81.182722,76.629414
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1458.0,81.182722,76.629414
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,1458.0,81.182722,76.629414
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414

In [12]:
#schmathpased_df=sch_mrg2_df.loc[sch_mrg2_df["math_score"] >= sch_mrg2_df["avg_math_score"]]
schmathpased_df=sch_mrg2_df.loc[sch_mrg2_df["math_score"] >= 70]
schmathpased_df.head()

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,1458.0,81.182722,76.629414
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414
5,5,Bryan Miranda,M,9th,Huang High School,94,94,1458.0,81.182722,76.629414
6,6,Sheena Carter,F,11th,Huang High School,82,80,1458.0,81.182722,76.629414
8,8,Michael Roth,M,10th,Huang High School,95,87,1458.0,81.182722,76.629414

In [13]:
#schreadpased_df=sch_mrg2_df.loc[sch_mrg2_df["reading_score"] >= sch_mrg2_df["avg_reading_score"]]
schreadpased_df=sch_mrg2_df.loc[sch_mrg2_df["reading_score"] >= 70]
schreadpased_df.head()

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score
1,1,Victor Smith,M,12th,Huang High School,94,61,1458.0,81.182722,76.629414
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1458.0,81.182722,76.629414
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414
5,5,Bryan Miranda,M,9th,Huang High School,94,94,1458.0,81.182722,76.629414
6,6,Sheena Carter,F,11th,Huang High School,82,80,1458.0,81.182722,76.629414

In [14]:
grpbysch3a_df=schmathpased_df.groupby(["school"],as_index=False)
grpbysch3b_df=schreadpased_df.groupby(["school"],as_index=False)

In [15]:
sch_sum3a_df=grpbysch3a_df.count()
sch_sum3a_df.rename(columns={"Student ID_x":"stud_passed_math"},inplace = True)
sch_sum3b_df=grpbysch3b_df.count()
sch_sum3b_df.rename(columns={"Student ID_x":"stud_passed_read"},inplace = True)

In [16]:
sch_sum3a_df

,school,stud_passed_math,name,gender,grade,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score
0,Bailey High School,3318,3318,3318,3318,3318,3318,3318,3318,3318
1,Cabrera High School,1749,1749,1749,1749,1749,1749,1749,1749,1749
2,Figueroa High School,1946,1946,1946,1946,1946,1946,1946,1946,1946
3,Ford High School,1871,1871,1871,1871,1871,1871,1871,1871,1871
4,Griffin High School,1371,1371,1371,1371,1371,1371,1371,1371,1371
5,Hernandez High School,3094,3094,3094,3094,3094,3094,3094,3094,3094
6,Holden High School,395,395,395,395,395,395,395,395,395
7,Huang High School,1916,1916,1916,1916,1916,1916,1916,1916,1916
8,Johnson High School,3145,3145,3145,3145,3145,3145,3145,3145,3145
9,Pena High School,910,910,910,910,910,910,910,910,910
10,Rodriguez High School,2654,2654,2654,2654,2654,2654,2654,2654,2654
11,Shelton High School,1653,1653,1653,1653,1653,1653,1653,1653,1653
12,Thomas High School,1525,1525,1525,1525,1525,1525,1525,1525,1525
13,Wilson High School,2143,2143,2143,2143,2143,2143,2143,2143,2143
14,Wright High School,1680,1680,1680,1680,1680,1680,1680,1680,1680

In [17]:
sch_sum3b_df

,school,stud_passed_read,name,gender,grade,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score
0,Bailey High School,4077,4077,4077,4077,4077,4077,4077,4077,4077
1,Cabrera High School,1803,1803,1803,1803,1803,1803,1803,1803,1803
2,Figueroa High School,2381,2381,2381,2381,2381,2381,2381,2381,2381
3,Ford High School,2172,2172,2172,2172,2172,2172,2172,2172,2172
4,Griffin High School,1426,1426,1426,1426,1426,1426,1426,1426,1426
5,Hernandez High School,3748,3748,3748,3748,3748,3748,3748,3748,3748
6,Holden High School,411,411,411,411,411,411,411,411,411
7,Huang High School,2372,2372,2372,2372,2372,2372,2372,2372,2372
8,Johnson High School,3867,3867,3867,3867,3867,3867,3867,3867,3867
9,Pena High School,923,923,923,923,923,923,923,923,923
10,Rodriguez High School,3208,3208,3208,3208,3208,3208,3208,3208,3208
11,Shelton High School,1688,1688,1688,1688,1688,1688,1688,1688,1688
12,Thomas High School,1591,1591,1591,1591,1591,1591,1591,1591,1591
13,Wilson High School,2204,2204,2204,2204,2204,2204,2204,2204,2204
14,Wright High School,1739,1739,1739,1739,1739,1739,1739,1739,1739

In [18]:
sch_sum3a_df.drop(['name','gender','grade','reading_score','math_score','Student ID_y','avg_reading_score','avg_math_score'],axis=1,inplace=True)
sch_sum3b_df.drop(['name','gender','grade','reading_score','math_score','Student ID_y','avg_reading_score','avg_math_score'],axis=1,inplace=True)
sch_mrg3_df=pd.merge(sch_mrg1_df, sch_sum3a_df, on="school")
sch_mrg4_df=pd.merge(sch_mrg3_df, sch_sum3b_df, on="school")
sch_mrg4_df.head()

,school,School ID,type,tot_students,budget,Student ID,avg_reading_score,avg_math_score,stud_passed_math,stud_passed_read
0,Bailey High School,7,District,4976,3124928,20358.5,81.033963,77.048432,3318,4077
1,Cabrera High School,6,Charter,1858,1081356,16941.5,83.975780,83.061895,1749,1803
2,Figueroa High School,1,District,2949,1884411,4391.0,81.158020,76.711767,1946,2381
3,Ford High School,13,District,2739,1763916,36165.0,80.746258,77.102592,1871,2172
4,Griffin High School,4,Charter,1468,917500,12995.5,83.816757,83.351499,1371,1426

In [19]:
sch_sum3a_df

                   school  stud_passed_math
0      Bailey High School              3318
1     Cabrera High School              1749
2    Figueroa High School              1946
3        Ford High School              1871
4     Griffin High School              1371
5   Hernandez High School              3094
6      Holden High School               395
7       Huang High School              1916
8     Johnson High School              3145
9        Pena High School               910
10  Rodriguez High School              2654
11    Shelton High School              1653
12     Thomas High School              1525
13     Wilson High School              2143
14     Wright High School              1680

In [20]:
sch_sum3b_df

                   school  stud_passed_read
0      Bailey High School              4077
1     Cabrera High School              1803
2    Figueroa High School              2381
3        Ford High School              2172
4     Griffin High School              1426
5   Hernandez High School              3748
6      Holden High School               411
7       Huang High School              2372
8     Johnson High School              3867
9        Pena High School               923
10  Rodriguez High School              3208
11    Shelton High School              1688
12     Thomas High School              1591
13     Wilson High School              2204
14     Wright High School              1739

In [21]:
sch_mrg4_df["% Passing Math"]=(sch_mrg4_df["stud_passed_math"]/sch_mrg4_df["tot_students"])*100
sch_mrg4_df["% Passing Reading"]=(sch_mrg4_df["stud_passed_read"]/sch_mrg4_df["tot_students"])*100
sch_mrg4_df["Overall Passing Rate"]=(sch_mrg4_df["% Passing Math"]+sch_mrg4_df["% Passing Reading"])/2
sch_mrg4_df["Per Student Budget"]=sch_mrg4_df["budget"]/sch_mrg4_df["tot_students"]
sch_mrg4_df

,school,School ID,type,tot_students,budget,Student ID,avg_reading_score,avg_math_score,stud_passed_math,stud_passed_read,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,Bailey High School,7,District,4976,3124928,20358.5,81.033963,77.048432,3318,4077,66.680064,81.933280,74.306672,628.0
1,Cabrera High School,6,Charter,1858,1081356,16941.5,83.975780,83.061895,1749,1803,94.133477,97.039828,95.586652,582.0
2,Figueroa High School,1,District,2949,1884411,4391.0,81.158020,76.711767,1946,2381,65.988471,80.739234,73.363852,639.0
3,Ford High School,13,District,2739,1763916,36165.0,80.746258,77.102592,1871,2172,68.309602,79.299014,73.804308,644.0
4,Griffin High School,4,Charter,1468,917500,12995.5,83.816757,83.351499,1371,1426,93.392371,97.138965,95.265668,625.0
5,Hernandez High School,3,District,4635,3022020,9944.0,80.934412,77.289752,3094,3748,66.752967,80.862999,73.807983,652.0
6,Holden High School,8,Charter,427,248087,23060.0,83.814988,83.803279,395,411,92.505855,96.252927,94.379391,581.0
7,Huang High School,0,District,2917,1910635,1458.0,81.182722,76.629414,1916,2372,65.683922,81.316421,73.500171,655.0
8,Johnson High School,12,District,4761,3094650,32415.0,80.966394,77.072464,3145,3867,66.057551,81.222432,73.639992,650.0
9,Pena High School,9,Charter,962,585858,23754.5,84.044699,83.839917,910,923,94.594595,95.945946,95.270270,609.0
10,Rodriguez High School,11,District,3999,2547363,28035.0,80.744686,76.842711,2654,3208,66.366592,80.220055,73.293323,637.0
11,Shelton High School,2,Charter,1761,1056600,6746.0,83.725724,83.359455,1653,1688,93.867121,95.854628,94.860875,600.0
12,Thomas High School,14,Charter,1635,1043130,38352.0,83.848930,83.418349,1525,1591,93.272171,97.308869,95.290520,638.0
13,Wilson High School,5,Charter,2283,1319574,14871.0,83.989488,83.274201,2143,2204,93.867718,96.539641,95.203679,578.0
14,Wright High School,10,Charter,1800,1049400,25135.5,83.955000,83.682222,1680,1739,93.333333,96.611111,94.972222,583.0

In [22]:

finsum_byschool_df=sch_mrg4_df
finsum_byschool_df.rename(columns={"school":"School Name",
                                   "tot_students":"Total Students",
                                   "budget":"Total School Budget",
                                   "avg_reading_score":"Average Reading Score",
                                   "avg_math_score":"Average Math Score"},inplace = True)
finsum_byschool_df.drop(["School ID","type","Student ID","stud_passed_math","stud_passed_read"],axis=1,inplace=True)
finsum_byschool_df = finsum_byschool_df.round(2)

#################################
##--         OUTPUT         ---##
#################################
finsum_byschool_df

,School Name,Total Students,Total School Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,Bailey High School,4976,3124928,81.03,77.05,66.68,81.93,74.31,628.0
1,Cabrera High School,1858,1081356,83.98,83.06,94.13,97.04,95.59,582.0
2,Figueroa High School,2949,1884411,81.16,76.71,65.99,80.74,73.36,639.0
3,Ford High School,2739,1763916,80.75,77.10,68.31,79.30,73.80,644.0
4,Griffin High School,1468,917500,83.82,83.35,93.39,97.14,95.27,625.0
5,Hernandez High School,4635,3022020,80.93,77.29,66.75,80.86,73.81,652.0
6,Holden High School,427,248087,83.81,83.80,92.51,96.25,94.38,581.0
7,Huang High School,2917,1910635,81.18,76.63,65.68,81.32,73.50,655.0
8,Johnson High School,4761,3094650,80.97,77.07,66.06,81.22,73.64,650.0
9,Pena High School,962,585858,84.04,83.84,94.59,95.95,95.27,609.0
10,Rodriguez High School,3999,2547363,80.74,76.84,66.37,80.22,73.29,637.0
11,Shelton High School,1761,1056600,83.73,83.36,93.87,95.85,94.86,600.0
12,Thomas High School,1635,1043130,83.85,83.42,93.27,97.31,95.29,638.0
13,Wilson High School,2283,1319574,83.99,83.27,93.87,96.54,95.20,578.0
14,Wright High School,1800,1049400,83.96,83.68,93.33,96.61,94.97,583.0

In [23]:
######################################################
# 3     Top 5 Performing Schools (By Passing Rate)   #
######################################################

In [24]:

top5_perfschools_df=finsum_byschool_df.sort_values(['Overall Passing Rate'],ascending=False).head(5)
top5_perfschools_df = top5_perfschools_df.round(2)


#################################
##--         OUTPUT         ---##
#################################
top5_perfschools_df

,School Name,Total Students,Total School Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
1,Cabrera High School,1858,1081356,83.98,83.06,94.13,97.04,95.59,582.0
12,Thomas High School,1635,1043130,83.85,83.42,93.27,97.31,95.29,638.0
4,Griffin High School,1468,917500,83.82,83.35,93.39,97.14,95.27,625.0
9,Pena High School,962,585858,84.04,83.84,94.59,95.95,95.27,609.0
13,Wilson High School,2283,1319574,83.99,83.27,93.87,96.54,95.20,578.0

In [25]:
####################################################
# 4  Bottom 5 Performing Schools (By Passing Rate) #
####################################################

In [26]:

bott5_perfschools_df=finsum_byschool_df.sort_values(['Overall Passing Rate'],ascending=True).head(5)
bott5_perfschools_df = bott5_perfschools_df.round(2)

#################################
##--         OUTPUT         ---##
#################################
bott5_perfschools_df

,School Name,Total Students,Total School Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
10,Rodriguez High School,3999,2547363,80.74,76.84,66.37,80.22,73.29,637.0
2,Figueroa High School,2949,1884411,81.16,76.71,65.99,80.74,73.36,639.0
7,Huang High School,2917,1910635,81.18,76.63,65.68,81.32,73.50,655.0
8,Johnson High School,4761,3094650,80.97,77.07,66.06,81.22,73.64,650.0
3,Ford High School,2739,1763916,80.75,77.10,68.31,79.30,73.80,644.0

In [27]:
###################################
# 5     Math Scores by Grade      #
###################################

In [28]:

grpbygrade_df=stud_df.groupby(["school","grade"],as_index=False)
grde_sum_df=grpbygrade_df.mean()
math_grd_sum_df=grde_sum_df[["school","grade","math_score"]]
math_grd_sum_df.rename(columns={"school":"School Name","grade":"Grade","math_score":"Average Math Score"},inplace = True)


#################################
##--         OUTPUT         ---##
#################################
math_grd_sum_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

              School Name Grade  Average Math Score
0      Bailey High School  10th           76.996772
1      Bailey High School  11th           77.515588
2      Bailey High School  12th           76.492218
3      Bailey High School   9th           77.083676
4     Cabrera High School  10th           83.154506
5     Cabrera High School  11th           82.765560
6     Cabrera High School  12th           83.277487
7     Cabrera High School   9th           83.094697
8    Figueroa High School  10th           76.539974
9    Figueroa High School  11th           76.884344
10   Figueroa High School  12th           77.151369
11   Figueroa High School   9th           76.403037
12       Ford High School  10th           77.672316
13       Ford High School  11th           76.918058
14       Ford High School  12th           76.179963
15       Ford High School   9th           77.361345
16    Griffin High School  10th           84.229064
17    Griffin High School  11th           83.842105
18    Griffin High School  12th           83.356164
19    Griffin High School   9th           82.044010
20  Hernandez High School  10th           77.337408
21  Hernandez High School  11th           77.136029
22  Hernandez High School  12th           77.186567
23  Hernandez High School   9th           77.438495
24     Holden High School  10th           83.429825
25     Holden High School  11th           85.000000
26     Holden High School  12th           82.855422
27     Holden High School   9th           83.787402
28      Huang High School  10th           75.908735
29      Huang High School  11th           76.446602
30      Huang High School  12th           77.225641
31      Huang High School   9th           77.027251
32    Johnson High School  10th           76.691117
33    Johnson High School  11th           77.491653
34    Johnson High School  12th           76.863248
35    Johnson High School   9th           77.187857
36       Pena High School  10th           83.372000
37       Pena High School  11th           84.328125
38       Pena High School  12th           84.121547
39       Pena High School   9th           83.625455
40  Rodriguez High School  10th           76.612500
41  Rodriguez High School  11th           76.395626
42  Rodriguez High School  12th           77.690748
43  Rodriguez High School   9th           76.859966
44    Shelton High School  10th           82.917411
45    Shelton High School  11th           83.383495
46    Shelton High School  12th           83.778976
47    Shelton High School   9th           83.420755
48     Thomas High School  10th           83.087886
49     Thomas High School  11th           83.498795
50     Thomas High School  12th           83.497041
51     Thomas High School   9th           83.590022
52     Wilson High School  10th           83.724422
53     Wilson High School  11th           83.195326
54     Wilson High School  12th           83.035794
55     Wilson High School   9th           83.085578
56     Wright High School  10th           84.010288
57     Wright High School  11th           83.836782
58     Wright High School  12th           83.644986
59     Wright High School   9th           83.264706

In [29]:
##################################
# 6  Reading Scores by Grade     #
##################################

In [30]:

read_grd_sum_df=grde_sum_df[["school","grade","reading_score"]]
read_grd_sum_df.rename(columns={"school":"School Name","grade":"Grade","reading_score":"Average Reading Score"},inplace = True)


#################################
##--         OUTPUT         ---##
#################################
read_grd_sum_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

              School Name Grade  Average Reading Score
0      Bailey High School  10th              80.907183
1      Bailey High School  11th              80.945643
2      Bailey High School  12th              80.912451
3      Bailey High School   9th              81.303155
4     Cabrera High School  10th              84.253219
5     Cabrera High School  11th              83.788382
6     Cabrera High School  12th              84.287958
7     Cabrera High School   9th              83.676136
8    Figueroa High School  10th              81.408912
9    Figueroa High School  11th              80.640339
10   Figueroa High School  12th              81.384863
11   Figueroa High School   9th              81.198598
12       Ford High School  10th              81.262712
13       Ford High School  11th              80.403642
14       Ford High School  12th              80.662338
15       Ford High School   9th              80.632653
16    Griffin High School  10th              83.706897
17    Griffin High School  11th              84.288089
18    Griffin High School  12th              84.013699
19    Griffin High School   9th              83.369193
20  Hernandez High School  10th              80.660147
21  Hernandez High School  11th              81.396140
22  Hernandez High School  12th              80.857143
23  Hernandez High School   9th              80.866860
24     Holden High School  10th              83.324561
25     Holden High School  11th              83.815534
26     Holden High School  12th              84.698795
27     Holden High School   9th              83.677165
28      Huang High School  10th              81.512386
29      Huang High School  11th              81.417476
30      Huang High School  12th              80.305983
31      Huang High School   9th              81.290284
32    Johnson High School  10th              80.773431
33    Johnson High School  11th              80.616027
34    Johnson High School  12th              81.227564
35    Johnson High School   9th              81.260714
36       Pena High School  10th              83.612000
37       Pena High School  11th              84.335938
38       Pena High School  12th              84.591160
39       Pena High School   9th              83.807273
40  Rodriguez High School  10th              80.629808
41  Rodriguez High School  11th              80.864811
42  Rodriguez High School  12th              80.376426
43  Rodriguez High School   9th              80.993127
44    Shelton High School  10th              83.441964
45    Shelton High School  11th              84.373786
46    Shelton High School  12th              82.781671
47    Shelton High School   9th              84.122642
48     Thomas High School  10th              84.254157
49     Thomas High School  11th              83.585542
50     Thomas High School  12th              83.831361
51     Thomas High School   9th              83.728850
52     Wilson High School  10th              84.021452
53     Wilson High School  11th              83.764608
54     Wilson High School  12th              84.317673
55     Wilson High School   9th              83.939778
56     Wright High School  10th              83.812757
57     Wright High School  11th              84.156322
58     Wright High School  12th              84.073171
59     Wright High School   9th              83.833333

In [31]:
##################################
# 7  Scores by School Spending   #
##################################

In [32]:
schspend_df=sch_df
schspend_df["Avg Spending Range"]=""
schspend_df["Avg Spending Range"][(schspend_df["budget"]/schspend_df["size"]>=0) & (schspend_df["budget"]/schspend_df["size"]<=585)]="0-585"
schspend_df["Avg Spending Range"][(schspend_df["budget"]/schspend_df["size"]>585) & (schspend_df["budget"]/schspend_df["size"]<=615)]="585-615"
schspend_df["Avg Spending Range"][(schspend_df["budget"]/schspend_df["size"]>615) & (schspend_df["budget"]/schspend_df["size"]<=645)]="615-645"
schspend_df["Avg Spending Range"][(schspend_df["budget"]/schspend_df["size"]>645)]="645+"
schspend_df.rename(columns={"name":"school"},inplace=True)

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
grpbyspend0_df=schspend_df.groupby(["Avg Spending Range"],as_index=False)
grpbyspend0_sum_df=grpbyspend0_df.sum()
grpbyspend0_sum_df.drop(["School ID","budget"],axis=1,inplace=True)
grpbyspend0_sum_df

  Avg Spending Range   size
0              0-585   6368
1            585-615   2723
2            615-645  17766
3               645+  12313

In [34]:
schspend_mrg_df=pd.merge(sch_mrg2_df, schspend_df, on="school")
schspend_mrg_df["MathPassed"]=0
schspend_mrg_df["MathPassed"][(schspend_mrg_df["math_score"])>=70]=1
schspend_mrg_df["ReadPassed"]=0
schspend_mrg_df["ReadPassed"][(schspend_mrg_df["reading_score"])>=70]=1
schspend_mrg_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score,School ID,type,size,budget,Avg Spending Range,MathPassed,ReadPassed
0,0,Paul Bradley,M,9th,Huang High School,66,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
5,5,Bryan Miranda,M,9th,Huang High School,94,94,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
6,6,Sheena Carter,F,11th,Huang High School,82,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
7,7,Nicole Baker,F,12th,Huang High School,96,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
8,8,Michael Roth,M,10th,Huang High School,95,87,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
9,9,Matthew Greene,M,10th,Huang High School,96,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
10,10,Andrew Alexander,M,10th,Huang High School,90,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
11,11,Daniel Cooper,M,10th,Huang High School,78,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
12,12,Brittney Walker,F,9th,Huang High School,64,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,0
13,13,William Long,M,9th,Huang High School,71,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
14,14,Tammy Hebert,F,10th,Huang High School,85,67,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
16,16,Donald Zamora,M,9th,Huang High School,88,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
18,18,Kevin Stevens,M,9th,Huang High School,64,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
20,20,Lisa Davis,F,10th,Huang High School,91,89,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
21,21,Kristen Lopez,F,10th,Huang High School,90,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
23,23,Christopher Parker,M,9th,Huang High School,81,68,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
25,25,Cesar Morris,M,9th,Huang High School,92,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
26,26,Melanie Decker,F,9th,Huang High School,63,85,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
28,28,Kelly James,F,11th,Huang High School,73,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,0,1
29,29,Nicole Brown,F,12th,Huang High School,90,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39155,39155,John Brooks,M,10th,Thomas High School,92,98,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39161,39161,April Reyes,F,10th,Thomas High School,70,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39163,39163,John Reese,M,11th,Thomas High School,90,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,1,1

In [35]:
grpbyspend1_df=schspend_mrg_df.groupby(["Avg Spending Range"],as_index=False)
grpbyspend1_mean_df=grpbyspend1_df.mean()

grpbyspend1_mean_df.drop(["Student ID_x",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget",
"MathPassed",
"ReadPassed"],axis=1,inplace=True)
grpbyspend1_mean_df.rename(columns={"reading_score":"Avg Reading Score","math_score":"Avg Math Score"},inplace=True)

grpbyspend1_mean_df

  Avg Spending Range  Avg Reading Score  Avg Math Score
0              0-585          83.964039       83.363065
1            585-615          83.838414       83.529196
2            615-645          81.434088       78.061635
3               645+          81.005604       77.049297

In [36]:
grpbyspend1_sum_df=grpbyspend1_df.sum()
grpbyspend1_sum_df.drop(["Student ID_x",
"reading_score",
"math_score",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget"],axis=1,inplace=True)

grpbyspend1_sum_df

  Avg Spending Range  MathPassed  ReadPassed
0              0-585        5967        6157
1            585-615        2563        2611
2            615-645       12685       14855
3               645+        8155        9987

In [37]:
spendmrg1_df=pd.merge(grpbyspend0_sum_df, grpbyspend1_mean_df, on="Avg Spending Range")
spendmrg1_df
spendmrg2_df=pd.merge(spendmrg1_df, grpbyspend1_sum_df, on="Avg Spending Range")
spendmrg2_df

,Avg Spending Range,size,Avg Reading Score,Avg Math Score,MathPassed,ReadPassed
0,0-585,6368,83.964039,83.363065,5967,6157
1,585-615,2723,83.838414,83.529196,2563,2611
2,615-645,17766,81.434088,78.061635,12685,14855
3,645+,12313,81.005604,77.049297,8155,9987

In [38]:

spendmrg2_df["% Passing Math"]=(spendmrg2_df["MathPassed"]/spendmrg2_df["size"])*100
spendmrg2_df["% Passing Reading"]=(spendmrg2_df["ReadPassed"]/spendmrg2_df["size"])*100
spendmrg2_df["Overall Passing Rate"]=(spendmrg2_df["% Passing Math"]+spendmrg2_df["% Passing Reading"])/2
spendmrg2_df.rename(columns={"size":"Total Students"},inplace=True)
score_by_spend_df=spendmrg2_df
score_by_spend_df.drop(["Total Students","MathPassed","ReadPassed"],axis=1,inplace=True)


#################################
##--         OUTPUT         ---##
#################################
score_by_spend_df

,Avg Spending Range,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,0-585,83.964039,83.363065,93.702889,96.686558,95.194724
1,585-615,83.838414,83.529196,94.124128,95.886889,95.005509
2,615-645,81.434088,78.061635,71.400428,83.614770,77.507599
3,645+,81.005604,77.049297,66.230813,81.109397,73.670105

In [39]:
#########################################
# 8   Scores by School Size             #
#########################################

In [40]:
schsize_df=sch_df
schsize_df["School Size"]=""
schsize_df["School Size"][(schsize_df["size"]>=0) & (schsize_df["size"]<=1000)]="Small(<1000)"
schsize_df["School Size"][(schsize_df["size"]>=1000) & (schsize_df["size"]<=2000)]="Medium(1000-2000)"
schsize_df["School Size"][(schsize_df["size"]>=2000) & (schsize_df["size"]<=5000)]="Large(2000-5000)"
schsize_df.rename(columns={"name":"school"},inplace=True)
schsize_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School ID,school,type,size,budget,Avg Spending Range,School Size
0,0,Huang High School,District,2917,1910635,645+,Large(2000-5000)
1,1,Figueroa High School,District,2949,1884411,615-645,Large(2000-5000)
2,2,Shelton High School,Charter,1761,1056600,585-615,Medium(1000-2000)
3,3,Hernandez High School,District,4635,3022020,645+,Large(2000-5000)
4,4,Griffin High School,Charter,1468,917500,615-645,Medium(1000-2000)
5,5,Wilson High School,Charter,2283,1319574,0-585,Large(2000-5000)
6,6,Cabrera High School,Charter,1858,1081356,0-585,Medium(1000-2000)
7,7,Bailey High School,District,4976,3124928,615-645,Large(2000-5000)
8,8,Holden High School,Charter,427,248087,0-585,Small(<1000)
9,9,Pena High School,Charter,962,585858,585-615,Small(<1000)
10,10,Wright High School,Charter,1800,1049400,0-585,Medium(1000-2000)
11,11,Rodriguez High School,District,3999,2547363,615-645,Large(2000-5000)
12,12,Johnson High School,District,4761,3094650,645+,Large(2000-5000)
13,13,Ford High School,District,2739,1763916,615-645,Large(2000-5000)
14,14,Thomas High School,Charter,1635,1043130,615-645,Medium(1000-2000)

In [41]:
grpbysize0_df=schsize_df.groupby(["School Size"],as_index=False)
grpbysize0_sum_df=grpbysize0_df.sum()
grpbysize0_sum_df.drop(["School ID","budget"],axis=1,inplace=True)
grpbysize0_sum_df

         School Size   size
0   Large(2000-5000)  29259
1  Medium(1000-2000)   8522
2       Small(<1000)   1389

In [42]:
schsize_mrg_df=pd.merge(sch_mrg2_df, schsize_df, on="school")
schsize_mrg_df["MathPassed"]=0
schsize_mrg_df["MathPassed"][(schsize_mrg_df["math_score"])>=70]=1
schsize_mrg_df["ReadPassed"]=0
schsize_mrg_df["ReadPassed"][(schsize_mrg_df["reading_score"])>=70]=1
schsize_mrg_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score,School ID,type,size,budget,Avg Spending Range,School Size,MathPassed,ReadPassed
0,0,Paul Bradley,M,9th,Huang High School,66,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
5,5,Bryan Miranda,M,9th,Huang High School,94,94,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
6,6,Sheena Carter,F,11th,Huang High School,82,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
7,7,Nicole Baker,F,12th,Huang High School,96,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
8,8,Michael Roth,M,10th,Huang High School,95,87,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
9,9,Matthew Greene,M,10th,Huang High School,96,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
10,10,Andrew Alexander,M,10th,Huang High School,90,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
11,11,Daniel Cooper,M,10th,Huang High School,78,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
12,12,Brittney Walker,F,9th,Huang High School,64,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
13,13,William Long,M,9th,Huang High School,71,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
14,14,Tammy Hebert,F,10th,Huang High School,85,67,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
16,16,Donald Zamora,M,9th,Huang High School,88,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
18,18,Kevin Stevens,M,9th,Huang High School,64,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
20,20,Lisa Davis,F,10th,Huang High School,91,89,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
21,21,Kristen Lopez,F,10th,Huang High School,90,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
23,23,Christopher Parker,M,9th,Huang High School,81,68,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
25,25,Cesar Morris,M,9th,Huang High School,92,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
26,26,Melanie Decker,F,9th,Huang High School,63,85,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
28,28,Kelly James,F,11th,Huang High School,73,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
29,29,Nicole Brown,F,12th,Huang High School,90,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39155,39155,John Brooks,M,10th,Thomas High School,92,98,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39161,39161,April Reyes,F,10th,Thomas High School,70,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39163,39163,John Reese,M,11th,Thomas High School,90,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1

In [43]:
grpbysize1_df=schsize_mrg_df.groupby(["School Size"],as_index=False)
grpbysize1_mean_df=grpbysize1_df.mean()

grpbysize1_mean_df.drop(["Student ID_x",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget",
"MathPassed",
"ReadPassed"],axis=1,inplace=True)
grpbysize1_mean_df.rename(columns={"reading_score":"Avg Reading Score","math_score":"Avg Math Score"},inplace=True)

grpbysize1_mean_df

         School Size  Avg Reading Score  Avg Math Score
0   Large(2000-5000)          81.198674       77.477597
1  Medium(1000-2000)          83.867989       83.372682
2       Small(<1000)          83.974082       83.828654

In [44]:
grpbysize1_sum_df=grpbysize1_df.sum()
grpbysize1_sum_df.drop(["Student ID_x",
"reading_score",
"math_score",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget"],axis=1,inplace=True)

grpbysize1_sum_df

         School Size  MathPassed  ReadPassed
0   Large(2000-5000)       20087       24029
1  Medium(1000-2000)        7978        8247
2       Small(<1000)        1305        1334

In [45]:
sizemrg1_df=pd.merge(grpbysize0_sum_df, grpbysize1_mean_df, on="School Size")
sizemrg1_df
sizemrg2_df=pd.merge(sizemrg1_df, grpbysize1_sum_df, on="School Size")
sizemrg2_df

,School Size,size,Avg Reading Score,Avg Math Score,MathPassed,ReadPassed
0,Large(2000-5000),29259,81.198674,77.477597,20087,24029
1,Medium(1000-2000),8522,83.867989,83.372682,7978,8247
2,Small(<1000),1389,83.974082,83.828654,1305,1334

In [46]:

sizemrg2_df["% Passing Math"]=(sizemrg2_df["MathPassed"]/sizemrg2_df["size"])*100
sizemrg2_df["% Passing Reading"]=(sizemrg2_df["ReadPassed"]/sizemrg2_df["size"])*100
sizemrg2_df["Overall Passing Rate"]=(sizemrg2_df["% Passing Math"]+sizemrg2_df["% Passing Reading"])/2
sizemrg2_df.rename(columns={"size":"Total Students"},inplace=True)
score_by_size_df=sizemrg2_df
score_by_size_df.drop(["Total Students","MathPassed","ReadPassed"],axis=1,inplace=True)


#################################
##--         OUTPUT         ---##
#################################
score_by_size_df

,School Size,Avg Reading Score,Avg Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Large(2000-5000),81.198674,77.477597,68.652380,82.125158,75.388769
1,Medium(1000-2000),83.867989,83.372682,93.616522,96.773058,95.194790
2,Small(<1000),83.974082,83.828654,93.952484,96.040317,94.996400

In [47]:
############################
# 9  Scores by School Type #
############################

In [48]:
schtype_df=sch_df
schtype_df.rename(columns={"name":"school"},inplace=True)
schtype_df

,School ID,school,type,size,budget,Avg Spending Range,School Size
0,0,Huang High School,District,2917,1910635,645+,Large(2000-5000)
1,1,Figueroa High School,District,2949,1884411,615-645,Large(2000-5000)
2,2,Shelton High School,Charter,1761,1056600,585-615,Medium(1000-2000)
3,3,Hernandez High School,District,4635,3022020,645+,Large(2000-5000)
4,4,Griffin High School,Charter,1468,917500,615-645,Medium(1000-2000)
5,5,Wilson High School,Charter,2283,1319574,0-585,Large(2000-5000)
6,6,Cabrera High School,Charter,1858,1081356,0-585,Medium(1000-2000)
7,7,Bailey High School,District,4976,3124928,615-645,Large(2000-5000)
8,8,Holden High School,Charter,427,248087,0-585,Small(<1000)
9,9,Pena High School,Charter,962,585858,585-615,Small(<1000)
10,10,Wright High School,Charter,1800,1049400,0-585,Medium(1000-2000)
11,11,Rodriguez High School,District,3999,2547363,615-645,Large(2000-5000)
12,12,Johnson High School,District,4761,3094650,645+,Large(2000-5000)
13,13,Ford High School,District,2739,1763916,615-645,Large(2000-5000)
14,14,Thomas High School,Charter,1635,1043130,615-645,Medium(1000-2000)

In [49]:
grpbytype0_df=schtype_df.groupby(["type"],as_index=False)
grpbytype0_sum_df=grpbytype0_df.sum()
grpbytype0_sum_df.drop(["School ID","budget"],axis=1,inplace=True)
grpbytype0_sum_df

       type   size
0   Charter  12194
1  District  26976

In [50]:
schtype_mrg_df=pd.merge(sch_mrg2_df, schtype_df, on="school")
schtype_mrg_df["MathPassed"]=0
schtype_mrg_df["MathPassed"][(schtype_mrg_df["math_score"])>=70]=1
schtype_mrg_df["ReadPassed"]=0
schtype_mrg_df["ReadPassed"][(schtype_mrg_df["reading_score"])>=70]=1
schtype_mrg_df

C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\fervi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Student ID_x,name,gender,grade,school,reading_score,math_score,Student ID_y,avg_reading_score,avg_math_score,School ID,type,size,budget,Avg Spending Range,School Size,MathPassed,ReadPassed
0,0,Paul Bradley,M,9th,Huang High School,66,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
5,5,Bryan Miranda,M,9th,Huang High School,94,94,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
6,6,Sheena Carter,F,11th,Huang High School,82,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
7,7,Nicole Baker,F,12th,Huang High School,96,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
8,8,Michael Roth,M,10th,Huang High School,95,87,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
9,9,Matthew Greene,M,10th,Huang High School,96,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
10,10,Andrew Alexander,M,10th,Huang High School,90,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
11,11,Daniel Cooper,M,10th,Huang High School,78,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
12,12,Brittney Walker,F,9th,Huang High School,64,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
13,13,William Long,M,9th,Huang High School,71,79,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
14,14,Tammy Hebert,F,10th,Huang High School,85,67,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
16,16,Donald Zamora,M,9th,Huang High School,88,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
18,18,Kevin Stevens,M,9th,Huang High School,64,69,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
20,20,Lisa Davis,F,10th,Huang High School,91,89,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
21,21,Kristen Lopez,F,10th,Huang High School,90,77,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
23,23,Christopher Parker,M,9th,Huang High School,81,68,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
25,25,Cesar Morris,M,9th,Huang High School,92,70,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
26,26,Melanie Decker,F,9th,Huang High School,63,85,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
28,28,Kelly James,F,11th,Huang High School,73,55,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),0,1
29,29,Nicole Brown,F,12th,Huang High School,90,88,1458.0,81.182722,76.629414,0,District,2917,1910635,645+,Large(2000-5000),1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39155,39155,John Brooks,M,10th,Thomas High School,92,98,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39161,39161,April Reyes,F,10th,Thomas High School,70,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39163,39163,John Reese,M,11th,Thomas High School,90,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,38352.0,83.848930,83.418349,14,Charter,1635,1043130,615-645,Medium(1000-2000),1,1

In [51]:
grpbytype1_df=schtype_mrg_df.groupby(["type"],as_index=False)
grpbytype1_mean_df=grpbytype1_df.mean()

grpbytype1_mean_df.drop(["Student ID_x",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget",
"MathPassed",
"ReadPassed"],axis=1,inplace=True)
grpbytype1_mean_df.rename(columns={"reading_score":"Avg Reading Score","math_score":"Avg Math Score"},inplace=True)

grpbytype1_mean_df

       type  Avg Reading Score  Avg Math Score
0   Charter          83.902821       83.406183
1  District          80.962485       76.987026

In [52]:
grpbytype1_sum_df=grpbytype1_df.sum()
grpbytype1_sum_df.drop(["Student ID_x",
"reading_score",
"math_score",
"Student ID_y",
"avg_reading_score",
"avg_math_score",
"School ID",
"size",
"budget"],axis=1,inplace=True)

grpbytype1_sum_df

       type  MathPassed  ReadPassed
0   Charter       11426       11785
1  District       17944       21825

In [53]:

typemrg1_df=pd.merge(grpbytype0_sum_df, grpbytype1_mean_df, on="type")
typemrg1_df
typemrg2_df=pd.merge(typemrg1_df, grpbytype1_sum_df, on="type")
typemrg2_df

typemrg2_df["% Passing Math"]=(typemrg2_df["MathPassed"]/typemrg2_df["size"])*100
typemrg2_df["% Passing Reading"]=(typemrg2_df["ReadPassed"]/typemrg2_df["size"])*100
typemrg2_df["Overall Passing Rate"]=(typemrg2_df["% Passing Math"]+typemrg2_df["% Passing Reading"])/2
typemrg2_df.rename(columns={"size":"Total Students"},inplace=True)
score_by_type_df=typemrg2_df

#################################
##--         OUTPUT         ---##
#################################
score_by_type_df

,type,Total Students,Avg Reading Score,Avg Math Score,MathPassed,ReadPassed,% Passing Math,% Passing Reading,Overall Passing Rate
0,Charter,12194,83.902821,83.406183,11426,11785,93.701821,96.645891,95.173856
1,District,26976,80.962485,76.987026,17944,21825,66.518387,80.905249,73.711818